<div [ngClass]="{ 'body-color': (showLoader$ | async) == true }">
  <div *ngFor="let item of items$ | async">
    <div class="item">
      <h1>{{ item?.title }}</h1>
      <p class="content-txt content-font">{{ item?.abstract }}</p>
      <div *ngFor="let media of item.multimedia">
        <img [src]="media?.url" />
        <p class="content-txt">{{ media.caption }}</p>
        <p>
          <strong>{{ item?.byline }}</strong>
        </p>
        <div class="clearfix"></div>
        <p style="display: inline;">
          <span class="alignleft">
            {{ item?.created_date | date: "MMMM d, y" }} &nbsp; Updated
            {{ item?.updated_date | date: "h:mm a" }}
          </span>
          <button type="button" class="alignright" (click)="changeURL(item?.short_url)">
            Show More >>>
          </button>
        </p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="center" *ngIf="showLoader$ | async">
    <mat-progress-spinner *ngIf="showLoader$ | async" mode="indeterminate" diameter="20" strokeWidth="50">
    </mat-progress-spinner>
  </div>
</div>
