.center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.body-color{
  color: #5e47c7d5;
  background:#5e47c7d5;
  background-color: #5e47c7d5;
  z-index: -1;
}

