<div [ngClass]="{ 'body-color': (showLoader$ | async) == true }">
  <div *ngFor="let item of items$ | async">
    <div class="item">
      <h1>{{ item?.title }}</h1>
      <p class="content-txt content-font">{{ item?.abstract }}</p>
      <div *ngFor="let media of item.multimedia">
        <img [src]="media?.url" />
        <p class="content-txt">{{ media.caption }}</p>
        <b>{{ item?.byline }}</b>
        <p>
          {{ item?.created_date | date: "MMMM d, y" }} &nbsp; Updated
          {{ item?.updated_date | date: "h:mm a" }}
        </p>
      </div>
    </div>
  </div>
  <div class="center" *ngIf="showLoader$ | async">
    <mat-progress-spinner *ngIf="showLoader$ | async" mode="indeterminate" diameter="20" strokeWidth="50">
    </mat-progress-spinner>
  </div>
</div>